.bg-purple{
  margin: 0;
  padding: 0;
  background-color: #fc690a;
}
.top-nav-test{
  font-family: Poppins,Mirza,sans-serif;
  font-size: 0.8rem;
  font-weight: 400;
  color: #fff;
}
.hero-section{
  background-image: url("../../images/breadbg.jpg");
  max-width: 100%;
  height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.7;
}
.about-title{
  font-size: 1.6rem;
  color: #fff;
  width: 50rem;
  line-height: 3.6rem;
}
.about-home-link{
  font-weight: 500;
  font-size: 14px;
  color: #fff;
  text-align: center;
}
.about-breadcrumb{
  color: rgba(255,255,255,.5);
  font-size: 14px;
  font-weight: 100;
  text-align: center;
}
.breadcrumb1{
  margin-top: 50px;
  margin-right: 200px;
}
.overview-title{
  font-family: Poppins,Mirza,sans-serif;
  font-weight: 600;
  font-size: 2.4rem;
  color: #202428;
  box-sizing: border-box;
}
.overview-text{
  line-height: 2rem;
  box-sizing: border-box;
  font-family: Poppins,Mirza,sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #5a6671;
}
.btn-success{
  background-color: #06b590 !important;
  border: 0px solid !important;
}
.text-light{
  font-family: Poppins,Mirza,sans-serif !important;
  text-transform: capitalize  !important;
  font-size: .93333rem  !important;
  font-weight: 500  !important;
  color: #fff  !important;
  cursor: pointer  !important;
  justify-content: center  !important;
}

.key-figure-section{
  background-image:
  linear-gradient(
      rgba(75,0,130, 0.8), 
      rgba(75,0,130, 0.8)
    ),
  url("../../images/cbg5.jpg");
  max-width: 100%;
  height: 500px;
  background-size: cover;
  background-repeat: no-repeat;
}
.key-figure-title{
  font-family: Poppins,Mirza,sans-serif !important;
  color: #fff;
    font-size: 2.4rem;
    font-weight: 600;
    box-sizing: border-box;
    margin-top: 100px;
}
.key-figure-text{
  font-family: Poppins,Mirza,sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #fff;
}
.figure-count-title{
  font-family: Poppins,Mirza,sans-serif;
  color: #06b590;
  font-size: 3.2rem;
  line-height: 3.66rem;
  font-weight: 600;
}
.figure-count-text{
  color: #202428;
  font-weight: 500;
  font-family: Poppins,Mirza,sans-serif;
  font-size: 1rem;
}
.bg-grey{
  background-color:rgba(65,58,164,.1);
}
.mission-title{
  font-family: Poppins,Mirza,sans-serif;
  font-weight: 600;
  font-size: 2.0rem;
  line-height: 1.4;
  color: #202428;
  box-sizing: border-box;
}
.mission-text{
  font-family: Poppins,Mirza,sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #5a6671;
  line-height: 1.5rem;
}
.bg-light-arrow-list{
  font-family: Poppins,Mirza,sans-serif;
  background: rgba(65,58,164,.1);
  font-size: 13px;
  font-weight: 600;
  border-radius: 50%;
  color:#202428;;
}
.bg-light-arrow-list-text{
  font-weight: 500;
  color: #202428;
  font-family: Poppins,Mirza,sans-serif;
    font-size: 1rem;
    line-height: 1.5;
}